<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881971598462-4o75ptve4v2rfore2j9lvvrmb7dc63t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881971598462-4o75ptve4v2rfore2j9lvvrmb7dc63t9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>881971598462-0323v0981faqs13fietvogf3md6lq3mr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBICRRvyPsi59r80H-wxVI-dQhhJcpnAEY</string>
	<key>GCM_SENDER_ID</key>
	<string>881971598462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorAppUpdated.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>beauty-fier</string>
	<key>STORAGE_BUCKET</key>
	<string>beauty-fier.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881971598462:ios:27eeecf3f92122ac97342f</string>
</dict>
</plist>